
@font-face {
    font-family:"authentic" ;
    src: url(font/authentic-sans-condensed-90.woff2);
  }


body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-family: 'Fantasy', sans-serif;
}

.confetti {
    position: fixed;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(0, 0, 0);
    animation: fall linear infinite;
}
@keyframes fall {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(100vh);
    }
}

h1{
 font-family: 'authentic';
 font-size: 13vw;
 padding: 20px;
}

canvas {
    border: 2px solid #000;
}